<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="line_follow_robot_description">

    <xacro:property name="camera_friction" value="2000" />

    <gazebo reference="chassis">
        <material>
            Gazebo/White
        </material>
    </gazebo>

    <gazebo reference="lidar">
        <material>
            Gazebo/FlatBlack
        </material>
    </gazebo>

    <gazebo reference="camera">
        <material>
            Gazebo/Green
        </material>
        <mu1>${camera_friction}</mu1>
    </gazebo>

</robot>