<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="line_follow_robot_description">
    <xacro:include filename="$(find line_follow_robot_description)/urdf/variables.xacro" />

    <xacro:include
        filename="$(find line_follow_robot_description)/urdf/gazebo.xacro" />

    <xacro:include
        filename="$(find line_follow_robot_description)/urdf/ros2_control.xacro" />

    <xacro:include
        filename="$(find line_follow_robot_description)/urdf/line_follow_robot_macro.xacro" />
</robot>